[Unit]
Description=IPSet definitions
After=syslog.target
ConditionPathExists=/etc/sysconfig/ipset

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/iptables/ipset.init start
ExecStop=/usr/libexec/iptables/ipset.init stop
Environment=BOOTUP=serial
Environment=CONSOLETYPE=serial
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=basic.target
